{% extends 'layout.html' %}
{% block content %}
<h1 class="title has-text-centered">Deep Water Culture System Metrics</h1>

<!-- Latest-data metric cards -->
<div class="columns is-mobile is-multiline">
  <div class="column">
    <div class="box nowrap">
      pH: {{ ph }}
    </div>
  </div>
  <div class="column">
    <div class="box nowrap">
      EC: {{ ppm }} PPM
    </div>
  </div>
  <div class="column">
    <div class="box nowrap">
      Water Temp: {{ temp }}<span>&#176;</span> F
    </div>
  </div>
  <div class="column">
    <div class="box nowrap">
      Water Level: {{ gallons }} gallons
    </div>
  </div>
</div>

<!-- Plots -->
<div class="container">
  <div class="columns is-mobile is-centered is-multiline">
    <div class="column is-four-fifths-mobile is-two-thirds-tablet is-half-desktop">
      <!-- pH plot -->
        <div class="chart-container minheight200">
          <canvas id="ph-chart"></canvas>
        </div>
    </div>
    <div class="column is-four-fifths-mobile is-two-thirds-tablet is-half-desktop">
      <!-- EC plot -->
        <div class="chart-container minheight200">
          <canvas id="ec-chart"></canvas>
        </div>
    </div>
    <div class="column is-four-fifths-mobile is-two-thirds-tablet is-half-desktop">
      <!-- Temp plot -->
        <div class="chart-container minheight200">
          <canvas id="temp-chart"></canvas>
        </div>
    </div>
    <div class="column is-four-fifths-mobile is-two-thirds-tablet is-half-desktop">
      <!-- Water level plot -->
        <div class="chart-container minheight200">
          <canvas id="level-chart"></canvas>
        </div>
    </div>
  </div>
</div>

<!-- Setup plot data from Flask -->
<script>
  const ph_data = {{ ph_data|safe }}
  const ec_data = {{ ec_data|safe }}
  const temp_data = {{ temp_data|safe }}
  const level_data = {{ level_data|safe }}
  const appTimezone = {{ timezone|safe }}
</script>

<script src="{{url_for('static', filename='scripts/charts.js')}}"></script>
{% endblock %}